---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Behind The Coder";
const pageHead = "Behind The Coder | Home";
---

<BaseLayout pageTitle={pageTitle} pageHead={pageHead}>
	<h2>My Awesome Blog Sub</h2>
</BaseLayout>
